@use "../styles/variable" as *;

body {
  background-color: $COLOR_WHITE;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 0.5rem;
    background: $COLOR_BLUE_200;
    &-track {
      background: $COLOR_BLUE_200;
    }
    &-thumb {
      background: $COLOR_BLUE_500;
      &:hover {
        background-color: $COLOR_BLACK;
      }
    }
  }
}

.button {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  * {
    scrollbar-width: 0;
    &::-webkit-scrollbar {
      width: 0;
    }
  }
}
