@use "../../styles/variable" as *;
@use "../../styles/functions" as *;

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  position: fixed;
  z-index: 10;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  @include SET_BACKGROUND(#fafbf9, 1);
}
.animator {
  margin-inline: auto;
  object {
    height: 20vmin;
    opacity: 0.7;
  }
}
